<div class="d-flex justify-content-between">
    <h4>Change Rating</h4>
    <button mat-button (click)="onClose()">
        Close
    </button>
    
</div>
    
    <div style="overflow:auto;height: 450px;">
        <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
            <div class="mt-4 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Book Id</span>
                </div>
                <input readonly minlength="2" type="text"
                class="form-control"
                name="bookId"
                #bookId="ngModel"
                [(ngModel)]="bookService.formData.bookId">
            </div>
            <div class="mt-4 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Book Name</span>
                </div>
                <input  minlength="2" type="text"
                class="form-control"
                name="bookName"
                #bookName="ngModel"
                [(ngModel)]="bookService.formData.bookName">
            </div>
            <div class="text-left text-danger"
                *ngIf="bookName.invalid && bookName.touched">
                Please Enter Book Name
            </div>
            <div class="mt-4 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Author</span>
                </div>
                <input required minlength="2" type="text"
                class="form-control"
                name="author"
                #author="ngModel"
                [(ngModel)]="bookService.formData.author">
            </div>
            <div class="text-left text-danger"
                *ngIf="bookName.invalid && bookName.touched">
                Please Enter Author Name
            </div>
            <div class="mt-4 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Rating</span>
                </div>
                <input required type="range" min="0" max="5" style="width: auto;color: aquamarine;"
                class="form-control"
                name="rating"
                #rating="ngModel"
                [(ngModel)]="bookService.formData.rating">
                
                
    
            </div>
            <div class="mt-4 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Cost</span>
                </div>
                <input required minlength="2" type="number"
                class="form-control"
                name="cost"
                #cost="ngModel"
                [(ngModel)]="bookService.formData.cost">
    
            </div>
            <button mat-raised-button
            class='btn btn-secondary btn-lg'
            color="primary" type="submit"
            [disabled]="form.invalid"
            >Update Book</button>
    
        </form>
    </div>
    